@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.fjalla {
  font-family: "Fjalla", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#sidebar {
  animation: sidebarmove 1s 1;
}

@keyframes sidebarmove {
  from {
    left: -50%;
  }
  to {
    left: 0;
  }
}

#mainDiv {
  animation: mainDivMove 3s 1;
}

@keyframes mainDivMove {
  from {
    right: -50%;
  }
  to {
    right: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
